<html lang="us">
{% load static %}
{% load pwa %}
<head>
    {% progressive_web_app_meta %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    {% block stylesheets %}
    {% endblock %}
    <title>AirHack 2019</title>
</head>
<body style="padding-top: 65px; background-color: #f8fafc">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top custom-navbar">
    <!-- Brand -->
    <a class="navbar-brand navbar-text" href="{% url 'index' %}">AirHack</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link navbar-text" href="{% url 'last_cached' %}">Last request</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar-text" href="#" id="navbardrop" data-toggle="dropdown">
                Older requests
            </a>
            <div class="dropdown-menu">
                {% for request in requests %}
                    <a class="dropdown-item navbar-text"
                       href="{% url 'request_details' request.id %}">{{ request.batch_id }}</a>
                {% endfor %}
            </div>
        </li>
    </ul>
</nav>
{% block content %}
{% endblock %}
</body>
{% block scripts %}
    <script src="{% static 'main/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
</html>